<% provide(:title, 'Redeem') %>
<div class='mobile-form'>
  <div class='my-balance'>
    <div class="redeem">
      <i class="fa fa-usd redeem__dollars"></i>
      <div class="redeem__copy">
        <p class="redeemCredits">My balance: <span class='credits'>
        <%= current_user.credits.blank? ? "0" : current_user.credits %></span>
        <p class="redeemCredits__desc">How would you like to cash out?</p>
      </div>
    </div>
  </div>
  <%= form_for(@cash_out, url:{:controller=>'static_pages', :action=>'new_cash_out'}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  	<%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :credits, :value => @amount %>
    <%= f.hidden_field :cashout_type %>
    <div class="cash-out">
      <p class="page-title">Cash Type</p>
      <ul class="cash-out__list">
        <li class="paypal-choice">
        		<img src="/assets/paypal.png">
            <span class='cash-out__cost'>Cashout with PayPal</span>
            <i class="fa fa-angle-right cash-choice"></i>
        </li>
        <li class="venmo-choice">
        		<img src="/assets/venmo.png">
            <span class='cash-out__cost'>Cashout with Venmo</span>
            <i class="fa fa-angle-right cash-choice"></i>
        </li>
      </ul>
    </div><!--/.cash-out -->
    <div class="cash-out__wrapper">

      <div class='paypal-select'>
      		<%= text_field_tag "first_name", "First Name", :value => current_user.firstname, placeholder: "First Name" %>

      		<%= text_field_tag "last_name","Last Name", :value => current_user.lastname, placeholder: "Last Name" %>

      		<%= text_field_tag "email","email", :value => current_user.email, placeholder: "Email" %>
      </div> <!--/.paypal-select -->
      <div class='venmo-select'>
  	    <%= f.text_field "venmo", placeholder: "Venmo username"%>
      </div> <!--/.venmo-select -->
      <div class='final-step'>

  	    <%= f.submit "Cash out", class: "btn-submit" %>
      </div><!--/.final-step -->

    </div><!--/.cash-out__wrapper -->
  <% end %>

</div>
