<% content_for :body_class, "no-top-padding no-bg register-page" %>
<% provide(:title, "Sign in") %>

<img src="/assets/homescreen-logo.png" class="header-img--logo">

<div class="form-wrap">
    <%= link_to "/auth/facebook" do %>
        <button class="btn--form btn--form-fb">
            <i class="fa fa-facebook btn--form__icon"></i>
            <h1 class="btn--form__copy">Sign in with Facebook</h1>
        </button><!-- /.btn--form -->
    <% end %>

    <div class='form-separator'>
        <div class='left-separator'></div><div class='or-split'>or</div><div class='right-separator'></div>
    </div>

    <%= form_for(:session, url: sessions_path) do |f| %>
        <div class="form-input--wrap">
            <i class="fa fa-envelope"></i>
            <%= f.text_field :email, placeholder: 'Email', class: "form-input" %>
        </div><!-- /.form-input--wrap -->

        <div class="form-input--wrap">
            <i class="fa fa-lock"></i>
            <%= f.password_field :password, placeholder: 'Password', class: "form-input" %>
        </div><!-- /.form-input--wrap -->

        <div class="form-subcopy">
            <%= link_to "(forgot password)", new_password_reset_path, class: "form-swap__link" %>
        </div>

        <div class="form-input--wrap form-input--wrap-submit">
            <%= f.submit "Create my account", class: "form-input" %>
        </div><!-- /.form-input--wrap -->
    <% end %>
</div><!-- /.form-wrap -->

<div class='form-swap js-form-swap'>
    <p class="form-swap__copy">Don't have an account?</p>  <%= link_to "Sign up now!", signup_path, class: "form-swap__link" %>
</div>


<script>
    $(function() {
        if (app.isWebAppMode()) {
            $('.js-form-swap').addClass('wam');
        }
    });
</script>
