<% provide(:title, "Forgot password") %>
<% content_for :body_class, "page-background desktop-signin-page" %>
<div class='mobile-header'>

        <%= link_to root_path do %>
            <i class="fa fa-chevron-left back-button"></i> <% if !is_mobile? %> Go Back<% end %>
        <% end %>

</div>

<h1 class="intro-header intro-header--mobile" style='color:#000'>Forgot password</h1>

<div class="row" >
    <div class="sign-in">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
            <%= f.label :email, style: 'color:#000' %>
            <%= f.email_field :email, class: 'session__input',style:'max-width:300px' %>
            <br />
            <%= f.submit "Submit", class: "form-submit btn--homepage "%>
        <% end %>
    </div>
</div>


