<div class='mobile-form'>
    <div class="welcome-box-m">Play Games. Earn Cash.</div>
    <%= link_to "/auth/facebook" do %>
      <%= embedded_svg('svgs/facebook_button.svg', :class => 'facebook-signup') %>
    <% end %>
    <span class='small-note'>We do not post anything to facebook.</span>

   
    <div class='form-separator'>
      <div class='left-separator'></div><div class='or-separator'>or</div><div class='right-separator'></div>
    </div>

    <%= embedded_svg('svgs/email_button.svg', :class => 'email-signup') %>

    <div class='email-form'>
      <h2> Register with email </h2>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_field :name, placeholder: 'Username' %>

        <%= f.text_field :email, placeholder: 'Email' %>

        <%= f.password_field :password, placeholder: "Password" %>

        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
        
        <%= f.submit "Create my account", class: "btn btn-outlined btn-white btn-lg btn-Create" %>

        <p class="termsOfService">by registering you agree to our <em><b>Privacy Policy</b></em> and <em><b>Terms of Service</b></em></p>
      <% end %>
    </div>
      <div class='sign-in'>
        Already have an account?  <%= link_to "Sign In", signin_path %>
      </div>
</div>
