<% content_for :body_class, "no-top-padding no-bg register-page" %>

<%= link_to root_path do %><img src="/assets/homescreen-logo.png" class="header-img--logo"><% end %>

<span class="js-go-back go-back"><i class="fa fa-chevron-left"></i></span>

<div class="form-wrap js-form-wrap">
    <div class="facebook-login-wrap js-facebook-btn">
        <%= link_to "/auth/facebook" do %>
            <button class="btn--form btn--form-fb">
                <i class="fa fa-facebook btn--form__icon"></i>
                <h1 class="btn--form__copy">Sign up with Facebook</h1>
            </button><!-- /.btn--form -->
        <% end %>
        <p class="form-disclaimer">We won't post anything to Facebook. Promise.</p>
    </div>

    <button class="btn--form btn--form-prime js-show-form">
        <i class="fa fa-envelope btn--form__icon"></i>
        <h1 class="btn--form__copy">Sign up with Email</h1>
    </button><!-- /.btn--form -->

    <div class='app-legal--signup'>
        <a href="/assets/luckee_privacy_policy.pdf"  target="_blank"  class='legal-link'>Privacy Policy</a>
        <a href="/assets/luckee_TOS.pdf"  target="_blank"  class='legal-link'>Terms of Service</a>
    </div>
</div><!-- /.form-wrap -->

<div class="form-wrap">
    <div class='form-register js-form-register hidden'>
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="form-input--wrap">
                <i class="fa fa-user"></i>
                <%= f.text_field :name, required: true, min: 2, placeholder: 'Username', class: "form-input" %>
            </div><!-- /.form-input--wrap -->

            <div class="form-input--wrap">
                <i class="fa fa-envelope"></i>
                <i class="fa fa-check-circle-o input-validation valid-input js-valid--email"></i>
                <span class="input-validation invalid-input error-msg js-invalid--email">
                    <span class="js-error-case js-error-case--invalid">invalid email</span>
                    <span class="js-error-case js-error-case--taken">email taken</span>
                </span>
                <%= f.email_field :email, placeholder: 'Email', class: "form-input js-validate js-validate--email" %>
            </div><!-- /.form-input--wrap -->

            <div class="form-input--wrap">
                <i class="fa fa-lock"></i>
                <%= f.password_field :password, required: true, placeholder: "Password", class: "form-input" %>
            </div><!-- /.form-input--wrap -->

            <div class="form-input--wrap">
                <i class="fa fa-lock"></i>
                <%= f.password_field :password_confirmation, required: true, placeholder: "Confirm Password", class: "form-input" %>
            </div><!-- /.form-input--wrap -->

            <div class="form-input--wrap form-input--wrap-submit">
                <%= f.submit "Create my account", class: "form-input js-form-submit" %>
            </div><!-- /.form-input--wrap -->


        <% end %>
    </div><!-- /.form-register -->
</div><!-- /.form-wrap -->

<div class='form-swap js-form-swap'>
    <p class="form-swap__copy">Already have an account?</p>  <%= link_to "Sign In", signin_path, class: "form-swap__link" %>
</div>


<script>
    $(function() {
        $('.js-show-form').click(function(){
            $('.js-form-wrap').fadeOut(function(){
                $('.js-go-back').addClass('show');
                $('.js-form-register').fadeIn();
            });
        });

        $('.js-go-back').click(function(){
            $(this).removeClass('show');

            $('.js-form-register').fadeOut(function(){
                $('.js-form-wrap').fadeIn();
            });
        })
    });
</script>
