<% if signups_allowed? %>
<div class='mobile-form'>
    <div class="welcome-box-m">Play Free Games. Earn Real Cash.</div>
    <% if @facebook_link %>
      <%= link_to @facebook_link do %>
        <%= image_tag 'facebook_button.png', :class => 'facebook-signup' %>
      <% end %>
    <% else %>
      <%= link_to "/auth/facebook" do %>
      <button class="btn--form btn--form-fb">
          <i class="fa fa-facebook btn--form__icon"></i>
          <h1 class="btn--form__copy">Register with facebook</h1>
      </button><!-- /.btn--form -->
      <% end %>
    <% end %>

    <span class='small-note'>We do not post anything to facebook.</span>


    <div class='form-separator'>
      <div class='left-separator'></div><div class='or-separator'>or</div><div class='right-separator'></div>
    </div>

    <button class="btn--form btn--form-purple js-show-signup">
        <i class="fa fa-envelope btn--form__icon"></i>
        <h1 class="btn--form__copy">Register with email</h1>
    </button><!-- /.btn--form -->

    <div class='email-form'>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_field :name, placeholder: 'Username', class: "trans-input trans-input--text" %>

        <%= f.email_field :email, placeholder: 'Email', class: "trans-input trans-input--text" %>

        <%= f.password_field :password, placeholder: "Password", class: "trans-input trans-input--text" %>

        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "trans-input trans-input--text" %>


        <!-- <div class="form-select--wrap">
            <select class="chosen-select">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div> -->

        <%= f.submit "Create my account", class: "trans-input trans-input--submit" %>

      <% end %>
    </div>
      <div class='sign-in already-member'>
        Already have an account?  <%= link_to "Sign In", signin_path, class: "form__signin-link" %>
      </div>
</div>
<% else %>
  <img style="margin-top: 20px;" src="http://i.giphy.com/3xz2BtrwQ2wIBeciAw.gif">
<% end %>

