<% if signups_allowed? %>

<% content_for :body_class, "no-top-padding no-bg register-page" %>

<%= link_to root_path do %><img src="/assets/homescreen-logo.png" class="header-img--logo"><% end %>

<span class="js-go-back go-back"><i class="fa fa-chevron-left"></i></span>

<div class="form-wrap js-form-wrap">
    <% if false %>
        <div class="facebook-login-wrap js-facebook-btn">
        <% if @facebook_link %>
            <%= link_to @facebook_lin do %>
                <button class="btn--form btn--form-fb">
                    <i class="fa fa-facebook btn--form__icon"></i>
                    <h1 class="btn--form__copy">Sign up with Facebook</h1>
                </button><!-- /.btn--form -->
            <% end %>
        <% else %>
            <%= link_to "/auth/facebook" do %>
                <button class="btn--form btn--form-fb">
                    <i class="fa fa-facebook btn--form__icon"></i>
                    <h1 class="btn--form__copy">Sign up with Facebook</h1>
                </button><!-- /.btn--form -->
            <% end %>
        <% end %>
            <p class="form-disclaimer">We won't post anything to Facebook. Promise.</p>
        </div>
    <% end %>

    <div class='form-register js-form-register'>
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="form-input--wrap">
                <i class="fa fa-user"></i>
                <%= f.text_field :name, required: true, min: 1, placeholder: 'Username', class: "form-input js-validate-input js-validate--name" %>
            </div><!-- /.form-input--wrap -->

            <div class="form-input--wrap">
                <i class="fa fa-envelope"></i>
                <i class="fa fa-check-circle-o input-validation valid-input js-valid--email"></i>
                <span class="input-validation invalid-input error-msg js-invalid--email">
                    <span class="js-error-case js-error-case--invalid">invalid email</span>
                    <span class="js-error-case js-error-case--taken">email taken</span>
                </span>
                <%= f.email_field :email, placeholder: 'Email', class: "form-input js-validate-input js-validate js-validate--email" %>
            </div><!-- /.form-input--wrap -->

            <div class="form-input--wrap form-input--wrap-submit">
                <%= f.submit "Create my account", class: "form-input js-form-submit" %>
            </div><!-- /.form-input--wrap -->


        <% end %>
    </div><!-- /.form-register -->

    <!-- <button class="btn--form btn--form-prime js-show-form">
        <i class="fa fa-envelope btn--form__icon"></i>
        <h1 class="btn--form__copy">Sign up with Email</h1>
    </button> -->

    <div class='app-legal--signup'>
        <a href="/assets/luckee_privacy_policy.pdf"  target="_blank"  class='legal-link'>Privacy Policy</a>
        <a href="/assets/luckee_TOS.pdf"  target="_blank"  class='legal-link'>Terms of Service</a>
    </div>

    <!-- <h1 class="disclaimer--us-only">*Currently available in the US only</h1> -->
</div><!-- /.form-wrap -->

<div class='form-swap js-form-swap'>
    <p class="form-swap__copy">Already have an account?</p>  <%= link_to "Sign In", signin_path, class: "form-swap__link" %>
</div>


<script>
    $(function() {
        $('.js-show-form').click(function(){
            $('.js-form-wrap').fadeOut(function(){
                $('.js-go-back').addClass('show');
                $('.js-form-register').fadeIn();
            });
        });

        $('.js-go-back').click(function(){
            $(this).removeClass('show');

            $('.js-form-register').fadeOut(function(){
                $('.js-form-wrap').fadeIn();
            });
        })
    });
</script>

<% else %>
    <% content_for :body_class, "waitlist-page no-bg" %>

    <div class="gradient-container">
        <div class="brand-header">
            <div class="logo-wrapper">
                <%= link_to root_path do %><img src="/assets/white_luckee.png" class="top-title"></a> <% end %>
            </div>
            <div class="welcome-box-m">Play free games. Earn real cash.</div>
              <%# render 'users/form_mobile'%>
        </div><!-- /.sign-up -->

        <div class="form-wrap">
            <h1 class="form__title form__title--us-only">Thanks for visiting Luckee.  We are in private beta right now, but we invite new users on a first come, first served basis.  Sign up below to gain early access!</h1>
            <%= render 'static_pages/waitlist_form'%>
        </div>
    </div><!-- /.gradient -->

    <script type="text/javascript">
    var colors = new Array(
      // [62,35,255],
      // [60,255,60],
      [192,123,233],
      [45,175,230],
      [246,71,71],
      [192,123,233]);

    var step = 0;
    //color table indices for:
    // current color left
    // next color left
    // current color right
    // next color right
    var colorIndices = [0,1,2,3];

    //transition speed
    var gradientSpeed = 0.001;

    function updateGradient()
    {

      if ( $===undefined ) return;

    var c0_0 = colors[colorIndices[0]];
    var c0_1 = colors[colorIndices[1]];
    var c1_0 = colors[colorIndices[2]];
    var c1_1 = colors[colorIndices[3]];

    var istep = 1 - step;
    var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
    var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
    var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
    var color1 = "rgb("+r1+","+g1+","+b1+")";

    var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
    var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
    var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
    var color2 = "rgb("+r2+","+g2+","+b2+")";

     $('.gradient-container').css({
       background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
        background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});

      step += gradientSpeed;
      if ( step >= 1 )
      {
        step %= 1;
        colorIndices[0] = colorIndices[1];
        colorIndices[2] = colorIndices[3];

        //pick two new target color indices
        //do not pick the same as the current one
        colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
        colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;

      }
    }

    setInterval(updateGradient,10);
    </script>
<% end %>
