<% content_for :body_class, "confirmation-page--mobile confirmation-page no-bg" %>

<%= link_to root_path do %><img src="/assets/homescreen-logo.png" class="header-img--logo"><% end %>

<main class="confirmation-page__content">
    <% if @verified_incomplete %>
        <%= embedded_svg('svgs/avitar.svg', :class => 'confirmation-page__icon') %>
        <h1 class="confirmation-page__title">Complete your profile</h1>
        <p class="confirmation-page__copy">Complete the form below to continue gaming!</p>
    <% else %>
        <%= embedded_svg('svgs/check.svg', :class => 'confirmation-page__icon') %>
        <h1 class="confirmation-page__title">Email Confirmed</h1>
        <p class="confirmation-page__copy">Thank you for confirming your email! Complete the form quick below!</p>
    <% end %>

    <%= form_tag '/user_details', method: :post, class: "js-form-validate-date" do |f| %>
        <div class="confirmation-page__input-wrap">
            <div class="form-input--wrap">
                <%= text_field_tag :first_name, current_user.firstname, {class: "form-input form-input--no-icon", placeholder: "First Name", required: true}%>
            </div>

            <div class="form-input--wrap">
                <%= text_field_tag :last_name, current_user.lastname, {class: "form-input form-input--no-icon", placeholder: "Last Name", required: true}%>
            </div>

            <% if current_user.provider == 'facebook' %>
                <%= text_field_tag :username, current_user.name, {class: "form-input form-input--no-icon", placeholder: "Username (shown to other users)", required: true}%>
            <% end %>
        </div><!-- /.confirmation-page__input-wrap -->

        <%= select_tag(:gender, options_for_select([['Male', 1], ['Female', 2], ['Other', 3]]), { class: "input--select", required: true, prompt: "Gender" }) %>

        <div class="form-input--wrap">
            <%= text_field_tag :birthday, nil, {class: "js-validate-date form-input form-input--no-icon", placeholder: "Birthday: mm/dd/yyyy", required: true}%>
        </div>

        <div class="form-input--wrap form-input--wrap-submit">
            <%= submit_tag "Submit", class: "form-input" %>
        </div><!-- /.form-input--wrap -->
    <% end %>
</main><!-- /.confirmation-page__content -->

