<% content_for :body_class, "confirmation-page--desktop confirmation-page no-bg" %>

<%= link_to root_path do %><img src="/assets/homescreen-logo.png" class="header-img--logo"><% end %>

<main class="confirmation-page__content">
        <a href="/">
            <img class="confirmation-page__logo" src="assets/luckee-font.png">
        </a>

        <% if @verified_incomplete %>
            <%= embedded_svg('svgs/avitar.svg', :class => 'confirmation-page__icon') %>
            <h1 class="confirmation-page__title">Complete your profile</h1>
            <p class="confirmation-page__copy">Complete the form below to continue gaming!</p>
        <% else %>
            <%= embedded_svg('svgs/check.svg', :class => 'confirmation-page__icon') %>
            <h1 class="confirmation-page__title">Email Confirmed</h1>
            <p class="confirmation-page__copy">Thank you for confirming your email! Complete the form quick below!</p>
        <% end %>

    <%= form_tag '/user_details', method: :post, class: "js-form-validate-date" do |f| %>
        <div class="confirmation-page__input-wrap">
            <%= text_field_tag :first_name, current_user.firstname, {class: "input--text input--text--left input--text--2-col", placeholder: "First Name", required: true}%>
            <%= text_field_tag :last_name, current_user.lastname, {class: "input--text input--text--right input--text--2-col", placeholder: "Last Name", required: true}%>
        </div><!-- /.confirmation-page__input-wrap -->

        <div class="confirmation-page__input-wrap">
        <%= password_field_tag :password, current_user.password, { required: true, placeholder: "Password", class: "input--text" }%>
        
        <div class='confirmation-page__radio-but confirmation-page__radio-male'>
            Male
        </div>
        <div class='confirmation-page__radio-but confirmation-page__radio-female'>
            Female
        </div>

        <%= hidden_field_tag :gender, :id => 'confirm_gender',:name => 'gender' %>

        <%# password_field_tag :password_confirmation, current_user.password_confirmation, { required: true, placeholder: "Confirm Password", class: "input--text" } %>
        </div>

         <% if current_user.provider == 'facebook' %>
             <%= text_field_tag :username, current_user.name, {class: "input--text", placeholder: "Username (shown to other users)", required: true}%>
         <% end %>

        <!-- Tried to use rails form helper but jquery ui datepicker was throwing an error -->
        <%# text_field_tag :e, nil, {class: "input--text js-datepicker", placeholder: "Birthday"}%>
        <%= text_field_tag :birthday, nil, {class: "js-datepicker js-validate-date input--text", placeholder: "Birthday", required: true}%>


        <div class="form-input--wrap form-input--wrap-submit form-input--wrap-desktop">
            <%= submit_tag "Submit", class: "form-input" %>
        </div><!-- /.form-input--wrap -->
    <% end %>
</main><!-- /.confirmation-page__content -->
