<% provide(:title, "Edit user") %>
<div class="edit-user">
  <p class="page-title page-title--account">Update Account</p>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="edit-user__container">
    <%= f.text_field :name, placeholder: "name" %>

    <%= f.text_field :email, placeholder: "email" %>

    <%= f.text_field :zipcode, :maxlength => 5, placeholder: "zip" %>

    <div class="edit-user__partition">
      <%= f.label "Date of birth" %>
      <%= f.date_select :dob,:start_year => 1930,:end_year => Time.now.year, :order => [:month, :day, :year] %>
    </div>

    <div class="edit-user__partition">
      <div style='clear:both;'></div>
      <div class="genderButtonLeft edit-user__gender">
        <%= f.radio_button :gender, '1' %>
        <%= label :gender_male, 'male' %>
      </div>
      <div class="genderButtonRight edit-user__gender">
        <%= f.radio_button :gender, '2' %>
        <%= label :gender_female, 'female' %>
      </div>
    </div> <!--/.edit-user__partition -->
    </div> <!--/.edit-user__container -->


    <% if current_user.provider != "facebook"%>
      <p class="page-title page-title--password">Change Password</p>
      <div class="edit-user__container">
        <div style='clear:both;'></div>
        <%= f.password_field :password, placeholder: "password" %>

        <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
      </div> <!--/.edit-user__container -->
    <% end %>

    <%= f.submit "save changes", class: "btn-submit" %>

  <% end %>
</div> <!--/.edit-user -->
