<% provide(:title, "Edit user") %>
<h1>Update your information</h1>

<div class="edit-user">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name, "Username" %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, :maxlength => 5 %>

    <%= f.label "Date of birth" %>
    <%= f.date_select :dob,:start_year => 1930,:end_year => Time.now.year, :order => [:month, :day, :year] %>

    <div style='clear:both;'></div>
    <div class="genderButtonLeft">
      <%= f.radio_button :gender, '1' %>
      <%= label :gender_male, 'male' %>
    </div>
    <div class="genderButtonRight">
      <%= f.radio_button :gender, '2' %>
      <%= label :gender_female, 'female' %>
    </div>

    <div style='clear:both;'></div>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Save changes", class: "btn btn-outlined btn-white btn-lg btn-Create" %>
  <% end %>
</div>
