<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <ul>
      	<li>Name: <%= @user.name %></li>
      	<li>Credits on hand: <%= @user.credits %></li>
      	<li>Credits used: <%= @user.user_entries.size %></li>
      </ul>
    </section>
  </aside>

  <% if current_user && current_user.admin? %>
    Total Games Played: <br />

    <% Game.where(device_type:1).each do | g | %>
      <%= g.name %> | sessions: <%= UserGameSession.where(user_id:@user.id).where(game_id:g.id).size %> <br />
    <% end %>
  <% end %>
</div>