<% content_for :body_class, "confirmation-page no-bg" %>

<%= link_to root_path do %><img src="/assets/homescreen-logo.png" class="header-img--logo"><% end %>

<div class="confirmation-page__content">
    <h1 class="confirmation-page__title">An email has been sent to <%= @user.email %>. Please confirm your email address by clicking through.</h1>   

   <%= form_tag('/resend_email', remote: true) do |f| %>
      <label for="user_email">Update Email and Resend</label>

      <%= text_field_tag :e %>
      <%= hidden_field_tag :update_email, :value => true %>
      <%= submit_tag "update ", class: "btn" %>

    <% end %> 

  <div class='change_email_form'>
    <%= render 'users/resend_update_form'%>
  </div>

  <%= link_to "Return Home", root_path , class: "btn-sec" %>
</div>
