<div class="tab-section js-tab-section leaderboard leaderboard--my-friends active <% if current_user.provider == 'facebook'  %>fb-connected <% else %> not-fb-connected <% end %>"> <!-- current_user.provider == 'facebook' --> <!-- create conditional to check foor whether or not user is connected with FB  => add this class: not-fb-connected -->
    <!-- Start Loop -->
    <!-- If Connected with Facebook -->
    <% if current_user.provider == 'facebook' %> <!--  current_user.provider == 'facebook' -->
       <% leaderboard_ranks = get_friend_leaderboard({game_id: @game.id, version: leaderboard_version ||= nil} ) %>
       <% leaderboard_ranks.each.with_index(1) do | record, rank | %>
       <% name = record[0] %>
       <% image = record[1] %>
       <% score = record[2] %>

            <div class="leaderboard-row <% if current_user.name == name %> leaderboard-row--current-user <% end %>">
                <div class="leaderboard-row__wrap">
                    <span class="leaderboard-rank"><%= rank %>
                        <span class="leaderboard__avatar" style="<% if !image.blank? %>background-image: url(<%= image %>); <% else %> background-image: url(/assets/avatar-icon.png); <% end %>"></span>
                    </span>
                    <span class="leaderboard-user"><%= name %></span>
                    <span class="leaderboard-score"><%= score %></span>
                </div>
            </div><!-- /.leaderboard-row -->

        <% end %>

        <% if current_user.provider.blank? || leaderboard_ranks.size <= 3 %>
            <div class="social-share">
                <h1 class="social-share__title">Things are looking a bit empty in here. Invite some friends to Luckee &amp; earn <span class="credits">25 credits</span> for every friend that signs up through your link.</h1>

                <input placeholder="Your referral link" class="form-input" type="text" value="<%= request.host_with_port %>/invite/<%=current_user.referral %>">

                <div class="social-share__wrap">
                    <a href="https://www.facebook.com/dialog/feed?app_id=<%=ENV['FACEBOOK_KEY']%>&description=Check%20out%20Luckee%20and%20earn%20cash%20for%20playing%20free%20games&link=http%3A%2F%2Fwww.getluckee.com&name=Play%20free%20games.%20Earn%20real%20cash.&redirect_uri=<%=root_url%>" class="social-btn social-btn--fb"><i class="fa fa-facebook"></i></a>

                    <a href="http://twitter.com/home?status=Play%20free%20games.%20Earn%20real%20cash.%20www.getluckee.com%2Finvite%2F<%= current_user.referral %>" class="social-btn social-btn--twitter"><i class="fa fa-twitter"></i></a>

                    <a href="mailto:someone@example.com?subject=Play%20free%20games.%20Earn%20real%20cash.&body=Play%20free%20games.%20Earn%20real%20cash.%20www.getluckee.com%2Finvite%2F<%= current_user.referral %>" target="_top" class="social-btn social-btn--mail"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        <% end %>

    <% else %> <!-- If not connected with Facebook -->
        <div class="leaderboard__social-sync">
            <h1 class="leaderboard__title">Connect with Facebook to see how your friends' scores stack up against yours!</h1>
            <%= link_to "/auth/facebook" do %>
                <button class="btn--form btn--form-fb">
                    <i class="fa fa-facebook btn--form__icon"></i>
                    <h1 class="btn--form__copy">Connect with Facebook</h1>
                </button><!-- /.btn--form -->
            <% end %>
        </div><!-- /.leaderboard__social-sync -->
    <% end %>
    <!-- End Loop -->
</div> <!-- /.leaderboard--my-friends -->
