<% content_for :body_class, "gameplay-page gameplay-page--2048 #{show_ads ? 'gameplay-page--adsense' : ''}" %>
  <% if show_ads %>
    <%= render partial: "/ad_units/ad_skyscraper", :locals => {ad_slot: "6670921476",side:'left'} %>
  <% elsif show_mobile_ads %>
    <% if Rails.env.production? %>
      <%= content_for :extra_top_js do %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9909143434790892",
            enable_page_level_ads: true
          });
        </script>
      <% end %>
    <% end %>
  <% end %>
  <div class="container">
    <div class="heading" style='height:110px'>
      <div class="above-game">
        <a class="restart-button" href='/games/2048'>New Game</a>
      </div>      
      <div class="scores-container">
        <div class="credit-container"><%= current_user.credits.blank? ? '0' : current_user.credits %></div>
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>
    <div class="game-container-2048">
      <div class="game-message">
        <p></p>
        <div class="lower">
          <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>
  

      <div class="tile-container">

      </div>
    </div>
  </div>
  <% if show_ads %>
    <%= render partial: "/ad_units/ad_skyscraper", :locals => {ad_slot: "9624387870",side:'right'} %>
  <% end %>
<%= content_for(:game_javascript) do %>
  <%= javascript_include_tag "twentyfortyeight" %>
<% end %>
