<% content_for :body_class, "interior-page leaderboard-landing" %>

<div class="interior-hero">
    <h1 class="interior-hero__title">View the top contenders</h1>
    <p class="interior-hero__desc" >Check out the leaderboards below to see who your competition is.</p>
</div><!--/.interior-hero -->

<div class="interior-body">
    <section class="card-container">
        <% @games.each do | g | %>
            <div class="card-tout" style="background-image:url(/assets/<%= g.game_image({advertiser_id:@advertiser_id,desktop:true}) %>);">
                <div class="card-inner">
                    <% if is_dunkin_user? %>
                        <%= link_to dunkin_game_leaderboard_path do %>
                            <h1 class="survey__title"><%= g.game_title({advertiser_id:@advertiser_id}) %></h1>
                        <% end %>
                    <% else %>
                        <%= link_to game_leaderboard_path(game_slug:g.slug) do %>
                            <h1 class="survey__title"><%= g.game_title({advertiser_id:@advertiser_id}) %></h1>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </section><!-- /.card-container -->
</div><!--/.interior-body -->


