<% content_for :body_class, "mobile-games-page games-page" %>

    <div class='game-list-container'>
        <% @games.each do | g | %>
            <%= link_to game_path(g) do %>
                <div class="game-wrapper game--<%= g.slug %> js-game--<%= g.slug %>" data-game-id="<%= g.id %>">
                    <% if g.slug == "flappy-pilot" ||  g.slug == "fall-down" || g.slug == "traffic" || g.slug == "tap-color" || g.slug == "2048" %>
                        <img class="game__leaderboard" src="/assets/leaderboard_button.png">
                    <% end %>
                <%= image_tag(g.image, :class=>'game-image') %>
                </div>
            <% end %>
        <% end %>
    </div>
