<% content_for :title, "Play Free Games. Earn real cash." %>

<% if is_dunkin_user? %>
    <% content_for :body_class, "desktop-games-page games-page games-page--dunkin" %>
<% else %>
    <% content_for :body_class, "desktop-games-page games-page" %>
<% end %>

<% if show_ads %>
    <%= render partial: "/ad_units/ad_wide", :locals => {ad_slot: "2440491879"} %>
<% end %>

<% if is_dunkin_user? %>
    <h1 class="page__title">Play free games. Earn real rewards.</h1>
<% else %>
    <h1 class="page__title">Play free games. Earn real cash.</h1>
<% end %>

<div class='game-list-container'>
    <% if is_dunkin_user? %>
        <a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/X_X16Iwk4N4?enablejsapi=1&wmode=opaque">
            <div class="game-wrapper game--fastest-way-to-dd js-game--fastest-way-to-dd">

                <img class="game-image" src="/assets/fastest-way-to-dd.jpg">

                <div class="game__info">
                    <h1 class="game__title">Watch Fastest Way to Dunkin</h1>
                    <span class="credits">Earn 20 Credits</span>
                </div>

            </div> <!--/ .game-wrapper -->
        </a><!-- /.fancybox -->
    <% end %>

        <% @games.each do | g | %>
            <% if g.device_type != 5 || current_user.has_purchased_game(g.id) %>
            <%= link_to game_path(g.slug,a:@advertiser_id) do %>
                <div class="game-wrapper game--<%= g.slug %> js-game--<%= g.slug %>">

                    <%= image_tag(g.game_image({advertiser_id:@advertiser_id,desktop:true}), :class=>'game-image') %>

                    <div class="game__info">
                        <h1 class="game__title"><%= g.game_title({advertiser_id:@advertiser_id}) %></h1>
                        <span class="credits">Earn Credits</span>
                    </div>

                </div> <!--/ .game-wrapper -->
            <% end %>
            <% else %>
                <%= link_to unlock_game_path(g.slug) do %>
                    <div class="game-wrapper--locked game-wrapper game--<%= g.slug %> js-game--<%= g.slug %>">

                        <div class="game-img-wrap">
                            <%= image_tag(g.desktop_image, :class=>'game-image') %>
                            <img src="/assets/locked.png" class="locks">
                        </div><!-- /.game-img-wrap -->

                        <div class="game__info">
                            <h1 class="game__title"><%= g.game_title({advertiser_id:@advertiser_id}) %></h1>
                            <span class="credits">Unlock Game:</span>
                            <span class="game__cost"><%= g.credit_cost %> credits</span>
                        </div>

                    </div> <!--/ .game-wrapper -->
                <% end %>
            <% end %>
        <% end %>

        <% if is_dunkin_user? %>
            <p class="fine-copy">This page is for demonstration purposes only.<br> For full site visit <a style="color:#817bdf;" href="/">www.getluckee.com</p>
        <% end %>
</div><!-- /.game-list-container -->

<script>
    // loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Fires whenever a player has finished loading
    function onPlayerReady(event) {
        event.target.playVideo();
        console.log('loaded!');
    }

    // Fires when the player's state changes.
    function onPlayerStateChange(event) {
        // Go to the next video after the current one is finished playing
        if (event.data === 0) {
            $.fancybox.close();
        }
    }

    // The API will call this function when the page has finished downloading the JavaScript for the player API
    function onYouTubePlayerAPIReady() {

        // Initialise the fancyBox after the DOM is loaded
        $(document).ready(function() {
            $(".fancybox")
                .attr('rel', 'gallery')
                .fancybox({
                    openEffect  : 'none',
                    closeEffect : 'none',
                    nextEffect  : 'none',
                    prevEffect  : 'none',
                    padding     : 0,
                    margin      : 50,
                    beforeShow  : function() {
                        // Find the iframe ID
                        var id = $.fancybox.inner.find('iframe').attr('id');

                        // Create video player object and add event listeners
                        var player = new YT.Player(id, {
                            events: {
                                'onReady': onPlayerReady,
                                'onStateChange': onPlayerStateChange
                            }
                        });
                    }
                });
        });

    }
</script>
