<% content_for :body_class, "desktop-games-page games-page" %>

<h1 class="page__title">Play free games. Earn real cash.</h1>

<div class='game-list-container'>
        <% @games.each do | g | %>
        <%= link_to game_path(g) do %>
        <div class="game-wrapper game--<%= g.slug %> js-game--<%= g.slug %>">

                <%= image_tag(g.desktop_image, :class=>'game-image') %>


            <div class="game__info">
                <h1 class="game__title"><%= g.name %></h1>
                <span class="credits">Earn Credits</span>
                <% if g.slug == "flappy-pilot" ||  g.slug == "fall-down" || g.slug == "traffic" || g.slug == "tap-color" || g.slug == "2048" %>
                    <img class="game__leaderboard" src="/assets/leaderboard_button.png">
                <% end %>
            </div>

        </div> <!--/ .game-wrapper -->
        <% end %>
        <% end %>
</div>
