<% content_for :body_class, "desktop-games-page games-page" %>

<h1 class="page__title">Play free games. Earn real cash.</h1>

<div class='game-list-container'>
        <% @games.each do | g | %>
            <% if g.device_type != 5 || current_user.has_purchased_game(g.id) %>
            <%= link_to game_path(g) do %>
                <div class="game-wrapper game--<%= g.slug %> js-game--<%= g.slug %>">

                    <%= image_tag(g.desktop_image, :class=>'game-image') %>

                    <div class="game__info">
                        <h1 class="game__title"><%= g.name %></h1>
                        <span class="credits">Earn Credits</span>
                        <img class="game__leaderboard" src="/assets/leaderboard_button.png">
                    </div>

                </div> <!--/ .game-wrapper -->
            <% end %>
            <% else %>
                <%= link_to unlock_game_path(g.slug) do %>
                    <div class="game-wrapper game--<%= g.slug %> js-game--<%= g.slug %>">

                        <%= image_tag(g.desktop_image, :class=>'game-image') %>

                        <div class="game__info">
                            <h1 class="game__title"><%= g.name %></h1>
                            <span class="credits">Unlock Game</span>
                            <img class="game__leaderboard" src="/assets/leaderboard_button.png">
                        </div>

                    </div> <!--/ .game-wrapper -->
                <% end %>
            <% end %>
        <% end %>
</div>
