<% if is_mobile? %>
    <% content_for :body_class, "leaderboard-page--mobile" %>
<% else %>
    <% content_for :body_class, "leaderboard-page" %>
<% end %>

<% @mobile_container_id = "leaderboard--placeholder" %>

<section class="leaderboard-nav">
    <h1 class="leaderboard__title leaderboard__title--headline"><%= @game.name %></h1>

    <!-- Fix: change id of leaderboard__cat => .leaderboard__cat--1  -->
    <div id="leaderboard__cat--1" class="js-leaderboard__cat leaderboard__cat">
        <h2 class="tab-control__title js-tab--cat ga-tab--myfriends" data-tab-cat=".leaderboard--my-friends">My Friends</h2> <!-- Fix: add class .active  -->
        <h2 class="tab-control__title js-tab--cat ga-tab--alltime active" data-tab-cat=".leaderboard--all-time">All-Time</h2>
        <h2 class="tab-control__title js-tab--cat ga-tab--weekly" data-tab-cat=".leaderboard--weekly" >Weekly</h2>
    </div>
</section>
<!-- If game is tap the right color -->
<% if @game.slug == 'tap-color' %>
    <div class="leaderboard__cat-wrapper">
        <div class="leaderboard__cat leaderboard__cat--3">
            <h2 class="tab-control__title js-tab--difficulty active" data-tab-cat=".js-leaderboard--easy">Easy</h2>
            <h2 class="tab-control__title js-tab--difficulty" data-tab-cat=".js-leaderboard--medium">Medium</h2>
            <h2 class="tab-control__title js-tab--difficulty" data-tab-cat=".js-leaderboard--hard">Hard</h2>
        </div>
    </div>
<% end %>

<!-- If game is tap the right color -->
<% if @game.slug == 'tap-color' %>
     <div class="js-leaderboard--easy js-leaderboard-diff leaderboard-diff active">
        <h2 class="leaderboard-diff__title">Easy</h2>
        <section class="game-leaderboard">
            <%= render 'games/leaderboard_friends_row', leaderboard_version: 1 %>

            <div class="tab-section js-tab-section leaderboard leaderboard--all-time <% if current_user_record({slug:@game.slug, version: 1, timeframe:'alltime'})["rank"].to_i <= 10 %> leaderboard--omit-current <% end %>">
                <%= render 'games/leaderboard_row', { leaderboard_type: "alltime", leaderboard_version: 1} %>

                <%= render 'games/leaderboard_current_user_row', { leaderboard_type: "alltime", leaderboard_version: 1 } %>
            </div>

            <div class="tab-section js-tab-section leaderboard leaderboard--weekly <% if current_user_record({slug:@game.slug, version: 1, timeframe:'weekly'})["rank"].to_i <= 10 %> leaderboard--omit-current <% end %>">
                <%= render 'games/leaderboard_row', { leaderboard_type: "weekly", leaderboard_version: 1} %>

                <%= render 'games/leaderboard_current_user_row', { leaderboard_type: "weekly", leaderboard_version: 1 } %>
            </div>
        </section>
    </div><!-- /.leaderboard-diff -->

     <div class="js-leaderboard--medium js-leaderboard-diff leaderboard-diff">
        <h2 class="leaderboard-diff__title">Medium</h2>
        <section class="game-leaderboard">
            <%= render 'games/leaderboard_friends_row', leaderboard_version: 2 %>

            <div class="tab-section js-tab-section leaderboard leaderboard--all-time <% if current_user_record({slug:@game.slug, version: 2, timeframe:'alltime'})["rank"].to_i <= 10 %> leaderboard--omit-current <% end %>">
                <%= render 'games/leaderboard_row', { leaderboard_type: "alltime", leaderboard_version: 2 } %>

                <%= render 'games/leaderboard_current_user_row', { leaderboard_type: "alltime", leaderboard_version: 2 } %>
            </div>

            <div class="tab-section js-tab-section leaderboard leaderboard--weekly <% if current_user_record({slug:@game.slug, version: 2, timeframe:'weekly'})["rank"].to_i <= 10 %> leaderboard--omit-current <% end %>">
                <%= render 'games/leaderboard_row', { leaderboard_type: "weekly", leaderboard_version: 2 } %>

                <%= render 'games/leaderboard_current_user_row', { leaderboard_type: "weekly", leaderboard_version: 2 } %>
            </div>

        </section>
    </div><!-- /.leaderboard-diff -->

    <div class="js-leaderboard--hard js-leaderboard-diff leaderboard-diff">
        <h2 class="leaderboard-diff__title">Hard</h2>
        <section class="game-leaderboard">
            <%= render 'games/leaderboard_friends_row', leaderboard_version: 3 %>

            <div class="tab-section js-tab-section leaderboard leaderboard--all-time <% if current_user_record({slug:@game.slug, version: 3, timeframe:'alltime'})["rank"].to_i <= 10 %> leaderboard--omit-current <% end %>">
                <%= render 'games/leaderboard_row', { leaderboard_type: "alltime", leaderboard_version: 3 } %>

                <%= render 'games/leaderboard_current_user_row', { leaderboard_type: "alltime", leaderboard_version: 3 } %>
            </div>

            <div class="tab-section js-tab-section leaderboard leaderboard--weekly <% if current_user_record({slug:@game.slug, version: 3, timeframe:'weekly'})["rank"].to_i <= 10 %> leaderboard--omit-current <% end %>">
                <%= render 'games/leaderboard_row', { leaderboard_type: "weekly", leaderboard_version: 3 } %>

                <%= render 'games/leaderboard_current_user_row', { leaderboard_type: "weekly", leaderboard_version: 3 } %>
            </div>

        </section>
    </div><!-- /.leaderboard-diff --> <!-- end of ttrc conditional -->
<% else %> <!--  ********************* Normal Leaderboard *********************  -->
    <section class="game-leaderboard">
        <%= render 'games/leaderboard_friends_row' %> <!-- Fix: add class .active  -->

        <div class="tab-section js-tab-section leaderboard leaderboard--all-time active <% if current_user_record({slug:@game.slug,timeframe:'alltime'})["rank"].to_i <= 10 %> leaderboard--omit-current <% end %>">
            <%= render 'games/leaderboard_row', leaderboard_type: "alltime" %>

            <%= render 'games/leaderboard_current_user_row', leaderboard_type: "alltime" %>
        </div> <!-- /.leaderboard--all-time -->

        <div class="tab-section js-tab-section leaderboard leaderboard--weekly <% if current_user_record({slug:@game.slug,timeframe:'weekly'})["rank"].to_i <= 10 %> leaderboard--omit-current <% end %>"><!-- current_user_record({slug:@game.slug,timeframe:'alltime'})["rank"].to_i > 10 -->
            <%= render 'games/leaderboard_row', leaderboard_type: "weekly" %>

            <%= render 'games/leaderboard_current_user_row', leaderboard_type: "weekly" %>
        </div> <!-- /.leaderboard--weekly -->
    </section><!-- /.game-leaderboard -->

<% end %>

<script>
    // $(window).load(function(){
    //     $('.leaderboard-row--current-user').addClass('animate');
    // })
</script>
