<% if is_mobile? %>
    <% content_for :body_class, "leaderboard-page--mobile" %>
<% else %>
    <% content_for :body_class, "leaderboard-page" %>
<% end %>

<% @mobile_container_id = "leaderboard--placeholder" %>

<!-- Current User -->
<div class="leaderboard-row leaderboard-row--current-user">
    <div class="leaderboard-row__wrap">
        <span class="leaderboard-rank">1
            <span class="leaderboard__avatar" style="<% if current_user.oath_image %>background-image: url(<%= current_user.oath_image %>); <% else %> background-image: url(/assets/avatar-icon.png); <% end %>"></span>
        </span>
        <span class="leaderboard-user"><%= current_user.name %></span>
        <span class="leaderboard-score">687</span>
    </div>
</div><!-- /.leaderboard-row -->

<section class="leaderboard-nav">
    <h1 class="leaderboard__title leaderboard__title--headline"><%= @game.name %></h1>

    <div id="leaderboard__cat--0" class="js-leaderboard__cat leaderboard__cat">
        <h2 class="tab-control__title js-tab--cat ga-tab--myfriends active" data-tab-cat=".leaderboard--my-friends">My Friends</h2>
        <h2 class="tab-control__title js-tab--cat ga-tab--alltime" data-tab-cat=".leaderboard--all-time">All-Time</h2>
        <h2 class="tab-control__title js-tab--cat ga-tab--weekly" data-tab-cat=".leaderboard--weekly" >Weekly</h2>
    </div>
</section>
<% if false %>
    <div class="leaderboard__cat-wrapper">
        <div class="leaderboard__cat leaderboard__cat--3">
            <h2 class="tab-control__title js-tab--difficulty active" data-tab-cat=".js-leaderboard--easy">Easy</h2>
            <h2 class="tab-control__title js-tab--difficulty" data-tab-cat=".js-leaderboard--medium">Medium</h2>
            <h2 class="tab-control__title js-tab--difficulty" data-tab-cat=".js-leaderboard--hard">Hard</h2>
        </div>
    </div>
<% end %>

<% if false %>
 <div class="js-leaderboard--easy js-leaderboard-diff leaderboard-diff active">
    <h2 class="leaderboard-diff__title">EASY </h2>
    <section class="game-leaderboard">
        <div class="tab-section js-tab-section leaderboard leaderboard--all-time active">
            <!-- Start Loop -->
            <div class="leaderboard-row">
                <span class="leaderboard-rank">1</span>
                <span class="leaderboard-user">Alex Morgan</span>
                <span class="leaderboard-score">687</span>
            </div><!-- /.leaderboard-row -->
            <!-- End Loop -->
        </div>

        <div class="tab-section js-tab-section leaderboard leaderboard--weekly">
            <!-- Start Loop -->
                <div class="leaderboard-row">
                    <span class="leaderboard-rank">1</span>
                    <span class="leaderboard-user">John Doe</span>
                    <span class="leaderboard-score">687</span>
                </div><!-- /.leaderboard-row -->
            <!-- End Loop -->
        </div>
    </section>
</div><!-- /.leaderboard-diff -->

 <div class="js-leaderboard--medium js-leaderboard-diff leaderboard-diff">
    <h2 class="leaderboard-diff__title">MEDIUM </h2>
    <section class="game-leaderboard">
        <div class="tab-section js-tab-section leaderboard leaderboard--all-time active">
            <!-- Start Loop -->
                <div class="leaderboard-row">
                    <span class="leaderboard-rank">1</span>
                    <span class="leaderboard-user">John Doe</span>
                    <span class="leaderboard-score">687</span>
                </div><!-- /.leaderboard-row -->

                <div class="leaderboard-row">
                    <span class="leaderboard-rank">2</span>
                    <span class="leaderboard-user">Joe Shmoe</span>
                    <span class="leaderboard-score">320</span>
                </div><!-- /.leaderboard-row -->
            <!-- End Loop -->
        </div>

        <div class="tab-section js-tab-section leaderboard leaderboard--weekly">
            <!-- Start Loop -->
                <div class="leaderboard-row">
                    <span class="leaderboard-rank">1</span>
                    <span class="leaderboard-user">John Doe</span>
                    <span class="leaderboard-score">687</span>
                </div><!-- /.leaderboard-row -->

                <div class="leaderboard-row">
                    <span class="leaderboard-rank">2</span>
                    <span class="leaderboard-user">Joe Shmoe</span>
                    <span class="leaderboard-score">320</span>
                </div><!-- /.leaderboard-row -->

                <div class="leaderboard-row">
                    <span class="leaderboard-rank">3</span>
                    <span class="leaderboard-user">Griff Hall</span>
                    <span class="leaderboard-score">107</span>
                </div><!-- /.leaderboard-row -->
            <!-- End Loop -->
        </div>
    </section>
</div><!-- /.leaderboard-diff -->

<div class="js-leaderboard--hard js-leaderboard-diff leaderboard-diff">
    <h2 class="leaderboard-diff__title">HARD </h2>
    <section class="game-leaderboard">
        <div class="tab-section js-tab-section leaderboard leaderboard--all-time active">
            <!-- Start Loop -->
                <div class="leaderboard-row">
                    <span class="leaderboard-rank">1</span>
                    <span class="leaderboard-user">John Doe</span>
                    <span class="leaderboard-score">687</span>
                </div><!-- /.leaderboard-row -->

                <div class="leaderboard-row">
                    <span class="leaderboard-rank">2</span>
                    <span class="leaderboard-user">Joe Shmoe</span>
                    <span class="leaderboard-score">320</span>
                </div><!-- /.leaderboard-row -->

                <div class="leaderboard-row">
                    <span class="leaderboard-rank">3</span>
                    <span class="leaderboard-user">Griff Hall</span>
                    <span class="leaderboard-score">107</span>
                </div><!-- /.leaderboard-row -->

                <div class="leaderboard-row">
                    <span class="leaderboard-rank">4</span>
                    <span class="leaderboard-user">Tyler Cone</span>
                    <span class="leaderboard-score">90</span>
                </div><!-- /.leaderboard-row -->
            <!-- End Loop -->
        </div>

        <div class="tab-section js-tab-section leaderboard leaderboard--weekly">
            <!-- Start Loop -->
            <div class="leaderboard-row">
                <span class="leaderboard-rank">1</span>
                <span class="leaderboard-user">John Doe</span>
                <span class="leaderboard-score">687</span>
            </div><!-- /.leaderboard-row -->

            <div class="leaderboard-row">
                <span class="leaderboard-rank">2</span>
                <span class="leaderboard-user">Joe Shmoe</span>
                <span class="leaderboard-score">320</span>
            </div><!-- /.leaderboard-row -->
            <!-- End Loop -->
        </div>
    </section>
</div><!-- /.leaderboard-diff -->
<% else %> <!--  ********************* Normal Leaderboard *********************  -->
    <section class="game-leaderboard">
        <div class="tab-section js-tab-section leaderboard leaderboard--my-friends active fb-connected">  <!-- create conditional to check foor whether or not user is connected with FB  => add this class: not-fb-connected -->
            <!-- Start Loop -->
            <!-- If Connected with Facebook -->
            <% if true %>
                <div class="leaderboard-row">
                    <span class="leaderboard-rank">1
                        <span class="leaderboard__avatar" style="<% if current_user.oath_image %>background-image: url(<%= current_user.oath_image %>); <% else %> background-image: url(/assets/avatar-icon.png); <% end %>"></span>
                    </span>
                    <span class="leaderboard-user">Alex M.</span>
                    <span class="leaderboard-score">365</span>
                </div><!-- /.leaderboard-row -->

                <div class="leaderboard-row">
                    <span class="leaderboard-rank">5
                        <span class="leaderboard__avatar" style="<% if current_user.oath_image %>background-image: url(<%= current_user.oath_image %>); <% else %> background-image: url(/assets/avatar-icon.png); <% end %>"></span>
                    </span>
                    <span class="leaderboard-user">Tyler C.</span>
                    <span class="leaderboard-score">211</span>
                </div><!-- /.leaderboard-row -->

                <% if true %>
                    <div class="leaderboard__social-share">
                        <h1 class="leaderboard__title">Things are looking a bit empty in here. Invite some friends to Luckee &amp; earn <span class="credits">25 credits</span> for every friend that signs up.</h1>

                        <input placeholder="Your referral link" class="form-input" type="text" value="<%= request.host_with_port %>/invite/<%=@referal_code %>">

                        <div class="social-share__wrap">
                            <a href="/" class="social-btn social-btn--fb"><i class="fa fa-facebook"></i></a>
                            <a href="/" class="social-btn social-btn--twitter"><i class="fa fa-twitter"></i></a>
                            <a href="/" class="social-btn social-btn--mail"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                <% end %>

            <% else %> <!-- If not connected with Facebook -->
                <h1 class="leaderboard__title">Connect with Facebook to see how your friends' scores stack up against yours!</h1>
                <%= link_to "/auth/facebook" do %>
                    <button class="btn--form btn--form-fb">
                        <i class="fa fa-facebook btn--form__icon"></i>
                        <h1 class="btn--form__copy">Sign up with Facebook</h1>
                    </button><!-- /.btn--form -->
                <% end %>
            <% end %>
            <!-- End Loop -->
        </div>

        <div class="tab-section js-tab-section leaderboard leaderboard--all-time">
            <% get_alltime_leaderboard({game_id: @game.id} ).each.with_index(1) do | record, rank | %>
                <div class="leaderboard-row">
                    <span class="leaderboard-rank"><%= rank %><span class="leaderboard__avatar" style="<% if current_user.oath_image %>background-image: url(<%= current_user.oath_image %>); <% else %> background-image: url(/assets/avatar-icon.png); <% end %>"></span></span>
                    <span class="leaderboard-user"><%= record[0] %></span>
                    <span class="leaderboard-score"><%= record[1] %></span>
                </div><!-- /.leaderboard-row -->
            <% end %>
        </div>

        <div class="tab-section js-tab-section leaderboard leaderboard--weekly">
            <% get_weekly_leaderboard({game_id: @game.id} ).each.with_index(1) do | record, rank | %>
                <div class="leaderboard-row">
                    <span class="leaderboard-rank"><%= rank %>
                        <span class="leaderboard__avatar" style="<% if current_user.oath_image %>background-image: url(<%= current_user.oath_image %>); <% else %> background-image: url(/assets/avatar-icon.png); <% end %>"></span>
                    </span>
                    <span class="leaderboard-user"><%= record[0] %></span>
                    <span class="leaderboard-score"><%= record[1] %></span>
                </div><!-- /.leaderboard-row -->
            <% end %>
        </div>
    </section>

<% end %>

<script>
    $(window).load(function(){
        console.log('foo');
        $('.leaderboard-row--current-user').addClass('animate');
    })
</script>
