<% if is_mobile? %>
    <% content_for :body_class, "purchase-page--mobile no-bg" %>
<% else %>
    <% content_for :body_class, "purchase-page" %>
<% end %>


<a href="/games" class="back-to-home">
    <i class="fa fa-times"></i>
</a>

<% provide(:title, "Unlock  #{@game.name}") %>
<div class="purchase-page__wrap">
    <%= image_tag(@game.image, :class=>'game-image game-image--unlock') %>

    <h1 class="intemediary-title">Unlock <%= @game.name %>!</h1>

    <% if current_user.credits.nil? || current_user.credits < @game.credit_cost %>
        <p class="intermediary-desc">
            Sorry you need at least <%= @game.credit_cost %> to unlock this game! You currently have <%= current_user.credits.nil? ? 0 :   current_user.credits %>!

            <%= link_to root_path do %>
                Get Playing!
            <% end %>
        </p>
    <% else %>
        <p class="intermediary-desc"> Use <%= @game.credit_cost %> of your <%= current_user.credits %> credits to unlock this game!</p>
        <%= form_for(@purchase) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.hidden_field :purchase_record_id, value: @game.id %>
            <%= f.hidden_field :purchase_type_id, value: PurchaseType.where(name:'game').first.id %>

            <div class="form-input--wrap form-input--wrap-submit">
                <%= f.submit "Unlock Now", class: "form-input" %>
            </div><!-- /.form-input--wrap -->

        <% end %>
    <% end %>


</div>


