<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<% if @game.name == "Test" %>
	<h2 class="outcome">Click to play! 1/5 wins a credit!</h2>
	<div class="ad-space">
		A partner image will show here sometimes!
	</div>
	<button class="play">Click here!</button>
	<%= javascript_include_tag "game" %>
<% elsif @game.name == "Memory Game" %>
    <%= javascript_include_tag "//code.jquery.com/ui/1.9.2/jquery-ui.min.js"%>
    <%= javascript_include_tag "tile.js"%>
    <%= javascript_include_tag "jquery.flip.js"%>
    <%= javascript_include_tag "matching"%>

    <span class="scorebox"> <% if @current_high_score %> Your Current Fastest Time Is <span class="highscore"><%= @current_high_score %></span>!<% else %> You have no high score yet!<% end %></span>
     <br/><span id="time">00:00</span>
	<div class="outcome">	
	</div>
		<div id="game">
			<div id="board">
			</div>
			<a href='#' id="startGameButton">New Game</a>
		</div>
<% elsif @game.name == "Helicopter" %>
	<div class="ad-space">
		A partner image will show here sometimes!
	</div>
	<div class="outcome">
		
	</div>
	<div id="jscopter-container" class="clearfix">
	    <p>Click anywhere in the game to start.  Hold the mouse button down to rise, let go to fall. Every 500 points earns 1 credit!</p>
	</div>

<%= javascript_include_tag "jscopter" %>
<script type="text/javascript">
// initialise the copter
    var options = {
	copter : {
            height : 15,
            width : 30
        },
        canvas : {
            height : 300,
            width : 500,
            refreshRate : 20
        }
    };
    
    jsCopter.init("jscopter", "jscopter-container", options);	

</script>
<% end %>

<input type="hidden" id="game_token" name="game_token" value="<%= session[:game_token] %>" />

<br />
<%= link_to 'Back', root_path %>


