<div class="game-container">

  <% case @game.slug %>
    <% when 'sorcerer-game' %>
      <%= render 'sorcerer_m' %>
    <% when '2048' %>
      <%= render 'twentyfortyeight_m' %>     
    <% when 'black-hole' %>
      <%= render 'blackhole_m' %>   
    <% when 'traffic' %>
      <%= render 'traffic_m' %> 
    <% when 'flappy-pilot' %>
      <%= render 'flappy_pilot_m' %>  
    <% when 'fall-down' %>
      <%= render 'fall_down_m' %>                         
  <% end %>
</div>

<input type="hidden" id="game_token" name="game_token" value="<%= session[:game_token] %>" />
<input type="hidden" id="credits_earned" name="credits_earned" value=0 />
<script type='text/javascript'>

</script>