<% content_for :title, "#{@game.name}" %>
<% content_for :description, "#{@game.description}" %>

<% if show_ads %>
    <%= render partial: "/ad_units/ad_wide", :locals => {ad_slot: "8147654679"} %>
<% end %>
<p id="notice"><%= notice %></p>
  <% case @game.slug %>
    <% when 'memory-game' %>
      <%= render 'memory' %>
    <% when 'helicopter' %>
      <%= render 'helicopter' %>
    <% when 'sorcerer-game' %>
      <%= render 'sorcerer_m' %>
    <% when '2048' %>
      <%= render 'twentyfortyeight_m' %>
    <% when 'flappy-pilot' %>
      <%= render 'flappy_pilot_m' %>
    <% when 'black-hole' %>
      <%= render 'blackhole_m' %>
    <% when 'fall-down' %>
      <%= render 'fall_down_m' %>
    <% when 'traffic' %>
      <%= render 'traffic_m' %>
    <% when 'tap-color' %>
      <%= render 'tap_color' %>      
    <% when 'gold-runner' %>
      <%= render 'gold_runner' %>  
  <% end %> 
  <% if session[:branded_ad].nil? %>
    <br /> <br/>
    <p class='game-description container' style='clear:both;text-align:center; width:90%;bottom:-100px;padding-bottom:20px;' > 
      <%= @game.description %>
    </p>
  <% end %>
<% if @game.slug == '2048' %>
  <input type="hidden" id="game_token" name="game_token" value="<%= session[:game_token] %>" />
<% end %>
