<p id="notice"><%= notice %></p>

<p class="gameTitle">
  <%= @game.name %>
</p>

<% if @game.name == "Test" %>
	<h2 class="outcome">Click to play! 1/5 wins a credit!</h2>
	<div class="ad-space">
		A partner image will show here sometimes!
	</div>
	<button class="play">Click here!</button>
	<%= javascript_include_tag "game" %>
<% elsif @game.name == "Memory Game" %>
    <%= javascript_include_tag "//code.jquery.com/ui/1.9.2/jquery-ui.min.js"%>
    <%= javascript_include_tag "tile.js"%>
    <%= javascript_include_tag "jquery.flip.js"%>
    <%= javascript_include_tag "matching"%>


	<div class="outcome">
	</div>
  <a href='#' id="startGameButton" class="btn btn-outlined btn-theme btn-lg">Start New Game</a>
		<div id="game">
			<div id="board" style="display:inline;float:left;"></div>
      <div id="leaderboard" style="display:inline;float:right;">
        <% if !@top_scores.blank? %>

          <div id="leader"><h3>Leaderboard</h3></div>
          <ul>
          <% @top_scores.each do |t| %>
            <%
              score = t.score
              score = Time.at(t.score).utc.strftime("%M:%S") if @game.name == "Memory Game"
            %>
              <li class="scoreList"><%= t.user.name %> - <%= score %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div id="topScore" style="display:inline;float:left;">
        Current time: <span id="time">00:00</span></br>
        <span class="scorebox"> <% if @current_high_score %> Your Fastest Time: <span class="highscore"><%= @current_high_score %></span><% else %> You have no high score yet!<% end %></span>
      </div>
		</div>
<% elsif @game.name == "Helicopter" %>
	<div class="ad-space">
		A partner image will show here sometimes!
	</div>

	<div class="outcome"></div>
  <p>Click anywhere in the game to start.  Hold the mouse button down to rise, let go to fall. Every 500 points earns 1 credit!</p>
	<div id="game">
    <div id="jscopter-container" class="clearfix" style="display:inline;float:left;"></div>
    <div id="leaderboardHeli" style="display:inline;float:right;">
      <% if !@top_scores.blank? %>

        <div id="leader"><h3>Leaderboard</h3></div>
        <ul>
        <% @top_scores.each do |t| %>
          <%
            score = t.score
            score = Time.at(t.score).utc.strftime("%M:%S") if @game.name == "Memory Game"
          %>
            <li class="scoreList"><%= t.user.name %> - <%= score %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div id="topScoreHeli" style="display:inline;float:left;">
      <p id="currentscorecontainer">
        current score:
        <strong id="currentscore">0</strong>
      </p>
      <span class="scorebox"> <% if @current_high_score %> Your High score: <span class="highscore"><%= @current_high_score %></span><% else %> You have no high score yet!<% end %></span>
    </div>
    <div id="topScoreClear" style="display:inline;float:left;"></div>
  </div>

<%= javascript_include_tag "jscopter" %>
<script type="text/javascript">
// initialise the copter
    var options = {
	copter : {
            height : 15,
            width : 30
        },
        canvas : {
            height : 300,
            width : 500,
            refreshRate : 20
        }
    };

    jsCopter.init("jscopter", "jscopter-container", options);

</script>
<% end %>

<input type="hidden" id="game_token" name="game_token" value="<%= session[:game_token] %>" />




<br />
<div class="container">
<%= link_to 'Home', root_path, class: "btn btn-outlined btn-theme btn-lg back" %>
</div>

