<div class="game-container">

  <% case @game.name %>
    <% when 'Memory Game' %>
      <%= @tttt %>
      <%= testesrror.aaa %>
    <% when 'Sorcerer Game' %>
      <%= render 'sorcerer_m' %>
    <% when '2048' %>
      <%= render 'twentyfortyeight_m' %>     
    <% when 'Black Hole' %>
      <%= render 'blackhole_m' %>   
    <% when 'Traffic' %>
      <%= render 'traffic_m' %> 
    <% when 'Flappy Pilot' %>
      <%= render 'flappy_pilot_m' %>                   
  <% end %>
</div>

<input type="hidden" id="game_token" name="game_token" value="<%= session[:game_token] %>" />
<input type="hidden" id="credits_earned" name="credits_earned" value=0 />
<script type='text/javascript'>

</script>