<% content_for :body_class, "survey-page" %>
<div class="page-container">

<!-- <h1 class="survey-title">Survey</h1> -->
<section class="survey-wrapper">
	<p id="notice"><%= notice %></p>

	<p class="intro-copy">Complete this survey and receive <%= @survey.credits %> credits!</p>

	<div class="refer-friend">

	 	<div class="survey__question">
			<p class="survey__question-copy">1. How often do you drink coffee? </p>

			<label class="control control--radio">0 days per week
			<%= radio_button 'coffee', 'frequency', '0 days per week', :required => true %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->

			<label class="control control--radio">1-2 days per week
			<%= radio_button 'coffee', 'frequency', '1-2 days per week' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->

			<label class="control control--radio"> 3-5
			<%= radio_button 'coffee', 'frequency', '3-5 days per week' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->

			<label class="control control--radio"> Every. Single. Day.
			<%= radio_button 'coffee', 'frequency', 'Every. Single. Day.' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->
		</div>

		<div class="survey__question">
			<p class="survey__question-copy">2. If you are at a coffee shop, which are you more likely to order?</p>

			<label class="control control--radio">Coffee
			<%= radio_button 'workout', 'location', 'coffee' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->

			<label class="control control--radio">Specialty Drink (latte, cappuccino, etc.)
			<%= radio_button 'workout', 'location', 'specialty drink' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->

			<label class="control control--radio">Outside
			<%= radio_button 'workout', 'location', 'outside' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->
		</div>

		<div class="survey__question">
			<p class="survey__question-copy">3. Which do you prefer?</p>

			<label class="control control--radio">Starbucks
			<%= radio_button 'cross-iron', 'yesno', 'starbucks' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->

			<label class="control control--radio">Dunkin Donuts
			<%= radio_button 'cross-iron', 'yesno', 'dunkin donuts' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->
		</div>

		<div class="survey__question">
			<p class="survey__question-copy">4. Do you make coffee at home?</p>

			<label class="control control--radio">Yes
			<%= radio_button 'supplements', 'taken', 'yes' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->

			<label class="control control--radio">No
			<%= radio_button 'supplements', 'taken', 'no' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->
		</div>

		<div class="survey__question">
			<p class="survey__question-copy">5. Are you aware of the Starbucks loyalty award program?</p>

			<label class="control control--radio">Yes
			<%= radio_button 'awards', 'yesno', 'yes' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->

			<label class="control control--radio">No
			<%= radio_button 'awards', 'yesno', 'no' %>
			<div class="control__indicator"></div>
			</label><!-- /.control .control--radio -->
		</div>

		<%= form_for(@user_survey) do |f| %>
			<%= f.hidden_field :id %>
			<%= f.hidden_field :complete, :value => true %>
			<%= f.submit 'Submit Survey', class: "btn-submit btn--top-margin"%>
		<% end %>
	</div> <!--/.refer-friend -->

</section><!-- /.section-wrapper -->
</div>
