<% content_for :body_class, "survey-page" %>
<div class="page-container">

<!-- <h1 class="survey-title">Survey</h1> -->
<section class="survey-wrapper">
    <p id="notice"><%= notice %></p>

    <p class="intro-copy">Complete this survey and receive <%= @survey.credits %> credits!</p>

    <div class="refer-friend">

        <div class="survey__question">
            <p class="survey__question-copy">1. Did you watch the Academy Awards on Sunday?</p>
            
            <label class="control control--radio">Yes
            <%= radio_button 'watch', 'oscars', 'yes' %>
            <div class="control__indicator"></div>
            </label><!-- /.control .control--radio -->

            <label class="control control--radio">No
            <%= radio_button 'watch', 'oscars', 'no' %>
            <div class="control__indicator"></div>
            </label><!-- /.control .control--radio -->
        </div><!-- /.control -->

        <div class="survey__question">
            <p class="survey__question-copy">2. Are you a fan of Leonardo DiCaprio?</p>
           
            <label class="control control--radio">Yes
            <%= radio_button 'leo', 'fan', 'yes' %>
            <div class="control__indicator"></div>
            </label><!-- /.control .control--radio -->

            <label class="control control--radio">No
            <%= radio_button 'leo', 'fan', 'no' %>
            <div class="control__indicator"></div>
            </label><!-- /.control .control--radio -->
        </div><!-- /.control -->

        <div class="survey__question">
            <p class="survey__question-copy">2. Have you seen The Revenant?</p>
           
            <label class="control control--radio">Yes
            <%= radio_button 'seen', 'revenant', 'yes' %>
            <div class="control__indicator"></div>
            </label><!-- /.control .control--radio -->

            <label class="control control--radio">No
            <%= radio_button 'seen', 'revenant', 'no' %>
            <div class="control__indicator"></div>
            </label><!-- /.control .control--radio -->
        </div><!-- /.control -->        

        <%= form_for(@user_survey) do |f| %>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :complete, :value => true %>
            <%= f.submit 'Submit Survey', class: "btn-submit btn--top-margin"%>
        <% end %>
    </div> <!--/.refer-friend -->

</section><!-- /.section-wrapper -->
</div>
