<% content_for :body_class, "survey-page" %>
<div class="page-container">

<!-- <h1 class="survey-title">Survey</h1> -->
<section class="survey-wrapper">
    <p id="notice"><%= notice %></p>

    <p class="intro-copy">Complete this survey and receive <%= @survey.credits %> credits!</p>

    <%= form_for(@user_survey) do |f| %>

    <div class="refer-friend">
        <% @survey.survey_questions.each.with_index(1) do | sq, i |  %>
            <div data-survey-question="<%= sq.display_order %>" class='survey__question js-survey__question <%= sq.question.question_type == "condition" ? "condition" : "hidden #{@yes_id == sq.condition_id ? "yes-answer-" + sq.display_order.to_s : "no-answer-" + sq.display_order.to_s}" %>'>
                <p class="survey__question-copy"><%= sq.display_order %>. <%= sq.question.text %></p>
                    <% sq.survey_question_answers.each do | a | %>
                        <label class="control control--radio"><%= a.answer.text%><%= radio_button 'question', sq.id, a.id %>
                        <div class="control__indicator"></div>
                        </label><!-- /.control .control--radio -->
                    <% end %>
            </div><!-- /.control -->

        <% end %>


            <%= f.hidden_field :id %>
            <%= f.hidden_field :complete, :value => true %>
            <%= f.submit 'Submit Survey', class: "btn-submit btn--top-margin"%>
        <% end %>
    </div> <!--/.refer-friend -->

</section><!-- /.section-wrapper -->
</div>
