<% content_for :body_class, "interior-page" %>

<div class="interior-hero">
  <h1 class="interior-hero__title">Take Surveys, Earn Credits</h1>
  <p class="interior-hero__desc" >Fill out a simple survey and earn up to <span class='credits'> 100 credits!</span></p>
</div><!--/.interior-hero -->
<div class="interior-body">
  <div class="surveys-wrapper">
  <ul class="survey-list">
    <% @surveys.each do |survey| %>
      <li class="survey">
        <h1 class="survey__title"><%= survey.name %></h1>
        <% if UserSurvey.where(survey_id: survey.id,user_id:current_user.id,complete:true).present? %>
          <span class='survey__completed'>Survey Completed</span>
        <% else %>
          <span class='cash-out__cost'>+<%= survey.credits%></span>
          <%= link_to  survey do %>
            <i class="fa fa-angle-right"></i>
          <% end %>
        <% end %>
          <% if current_user && current_user.admin %>
              <%= link_to 'Edit', edit_survey_path(survey) %>
              <%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </li>
    <% end %>
  </ul>
  </div>
</div><!--/.interior-body -->
