<% content_for :body_class, "interior-page survey-landing" %>

<div class="interior-hero">
    <h1 class="interior-hero__title">Take Surveys, Earn Credits</h1>
    <p class="interior-hero__desc" >Fill out a quick survey to earn more credits!</p>
</div><!--/.interior-hero -->

<div class="interior-body">
    <section class="card-container">
        <% @surveys.each do |survey| %>
            <div class="card-tout <% if survey.slug == "bellhops" %>ga-affiliate-survey<% end %><% if UserSurvey.where(survey_id: survey.id,user_id:current_user.id,complete:true).present? %> disabled <% end %>">
                <div class="card-inner">
                    <% if UserSurvey.where(survey_id: survey.id,user_id:current_user.id,complete:true).present? %>
                        <h1 class="survey__title"><%= survey.name %></h1>
                        <span class='card__credits card__lower'>+<%= survey.credits%> credits</span>
                    <% else %>
                    <%= link_to  survey do %>
                        <h1 class="survey__title"><%= survey.name %></h1>
                        <span class='card__credits card__lower'>+<%= survey.credits%> credits</span>
                    <% end %>
                    <% end %>
                    <% if UserSurvey.where(survey_id: survey.id,user_id:current_user.id,complete:true).present? %>
                        <% if survey.slug == "bellhops" %>
                            <span class="survey__completed survey__completed--bellhops"><%= link_to 'Apply to Bellhops', bellhops_affiliate_path %></span>
                        <% else %>
                            <span class='survey__completed'>Survey Completed</span>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </section><!-- /.card-container -->
</div><!--/.interior-body -->


<%= render 'tracking_events/tracking_bellhops_survey' %>
