<div class='inner-page__list'>
  <p class="page-title">Surveys</p>
  <ul>
    <% @surveys.each do |survey| %>
      <li>
        <%= link_to  survey do %>
        <%= survey.name %>
        <% if UserSurvey.where(survey_id: survey.id,user_id:current_user.id,complete:true).present? %>
          <span class='cash-out__cost'>Survey Completed</span>
        <% else %>
          <span class='cash-out__cost'>+<%= survey.credits%></span>

            <i class="fa fa-angle-right"></i>
        <% end %>
          <% if current_user && current_user.admin %>
              <%= link_to 'Edit', edit_survey_path(survey) %>
              <%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>


