	<p id="notice"><%= notice %></p>

	<p class="intro-copy">Answer these questions and receive <%= @survey.credits %> credits!</p>

	<div class="refer-friend">
	 	<p class="redeemCredits__title">Complete Survey:</p>

	 	<div class="survey__question">
			<p class="survey__question-copy">1. How frequently do you work out? </p>
			<%= radio_button 'workout', 'frequency', '0 times per week', :required => true %><br /> 0 times per week
			<%= radio_button 'workout', 'frequency', '1-3 times per week' %><br /> 1-3 times per week
			<%= radio_button 'workout', 'frequency', '4+ times per week' %> 4+times per week
		</div>

		<div class="survey__question">
			<p class="survey__question-copy">2. Where do you prefer to work out?</p>
			<%= radio_button 'workout', 'location', 'home/personal gym' %><br /> In a home/personal gym
			<%= radio_button 'workout', 'location', 'local gym' %><br /> In a local gym
			<%= radio_button 'workout', 'location', 'outside' %><br /> Outside
		</div>

		<div class="survey__question">
			<p class="survey__question-copy">3. Have you ever tried CrossFit or Iron Tribe?</p>
			<%= radio_button 'cross-iron', 'yesno', 'yes' %><br /> Yes
			<%= radio_button 'cross-iron', 'yesno', 'no' %><br /> No
		</div>

		<div class="survey__question">
			<p class="survey__question-copy">4. What is your experience with health / workout supplements?</p>
			<%= radio_button 'supplements', 'taken', 'never' %><br /> Never taken any
			<%= radio_button 'supplements', 'taken', 'past' %><br /> I have taken them in the past but do not now
			<%= radio_button 'supplements', 'taken', 'current' %>	<br /> I currently take a vitamin/supplemen
		</div>

		<div class="survey__question">
			<p class="survey__question-copy">5. Have you ever heard of ClassPass?</p>
			<%= radio_button 'classpass', 'yesno', 'yes' %><br /> Yes
			<%= radio_button 'classpass', 'yesno', 'no' %>	<br /> No
		</div>

		<%= form_for(@user_survey) do |f| %>
			<%= f.hidden_field :id %>
			<%= f.hidden_field :complete, :value => true %>
			<%= f.submit 'Submit Survey', class: "btn-submit btn--top-margin"%>
		<% end %>
	</div> <!--/.refer-friend -->

