<div class="instructions">
	<p id="notice"><%= notice %></p>
	<!-- <h2><%= @jackpot.name %></h2> -->
	<h4 class="prize">Prize: <%= @jackpot.prize %></h4>
	<h3><%= @message %></h3>

	<h4 class="prize"><%= ((@jackpot.user_entries.size.to_f/@jackpot.max_entries.to_f) * 100).to_i%>% Full</h4>



	<% if @jackpot.open && current_user && signed_in? && current_user.credits &&current_user.credits  > 0 && @jackpot.user_entries.size <  @jackpot.max_entries %>
		<p class="depositCredits">You have <font color="red"><%= @jackpot.user_entries.where(user_id: current_user.id).size %></font> credits in this pot.</p>
		<form id="deposit_form" action="/deposit">
			 <span class="depositCredits">Available credits to deposit:  <font color="red"><%= current_user.credits %></font></span>

				<div id="creditsField">
					<%= number_field_tag 'credits', nil, placeholder: '# of credits to deposit', in: 1..current_user.credits %>
					<%= hidden_field_tag 'id', @jackpot.id %>
				</div>
				<div id="depositTheCredits">
				 <input type="submit" value="Deposit Credits " class="btn btn-outlined btn-theme btn-lg depositCreditsButton">
				</div>
		</form>

		<div class="moneyPot">
		</div>

	<% elsif current_user && !current_user.credits || current_user.credits == 0 %>
		<p class="depositCredits">You have <font color="red"><%= @jackpot.user_entries.where(user_id: current_user.id).size %></font> credits in this pot.</p></br>
		You currently have 0 credits.  Earn more credits by playing games.
	<% elsif current_user && signed_in? %>
		We're sorry! We are no longer taking entries into this drawing.
	<% else %>
		You must sign in to deposit credits!
	<% end %>
	<% if current_user && current_user.admin %>
		<%= link_to 'Edit', edit_jackpot_path(@jackpot) %> |
		<%= link_to 'Back', jackpots_path %>
	<% end %>
</div>
