<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/favicon-16x16.png">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        !function(a,b,c,d,e,f,g,h){a.RaygunObject=e,a[e]=a[e]||function(){
        (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
        f.async=1,f.src=d,g.parentNode.insertBefore(f,g),h=a.onerror,a.onerror=function(b,c,d,f,g){
        h&&h(b,c,d,f,g),g||(g=new Error(b)),a[e].q=a[e].q||[],a[e].q.push({
        e:g})}}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");
      </script>

      <!-- start google analytics -->
      <script>
        var strUserId = null;
        <% if current_user %>
        strUserId = "<%= current_user.id %>";
        <% end %>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58032053-2', {'userId': strUserId}); //reset third argument to 'auto'
        ga('set', 'dimension1', strUserId);
        // if (strUserId) { ga('set', 'userId', strUserId); };
        ga('send', 'pageview');

      </script>
      <!-- end google analytics -->
    <% end %>
  <%= yield(:game_javascript) %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <div class="desktop-wrapper">
    <section class="navigation">
      <div class="nav-left">
        <%= link_to root_path do %><img class="nav-logo" src="/assets/small_luckee_font.png"><% end %>
      </div>
      <% if current_user %>
        <div class="nav-right">
          <%# link_to 'Games', games_path %>
          <div class="nav-dropdown">
            <p class="nav-dropdown__user-credits" data-toggle="tooltip" data-placement="bottom" title="Credits Earned"><%= current_user.credits ||= 0 %></p>
            <p class="nav-dropdown__name"><i class="fa fa-caret-down"></i> <%= current_user.name %></p>

              <span class="nav-dropdown__avatar" style="<% if current_user.oath_image %>background-image: url(<%= current_user.oath_image %>); <% else %> background-image: url(/assets/avatar-icon.png); <% end %> ">
              <!-- <i class="fa fa-exclamation notification"></i> -->
            </span>
            <ul class="nav-dropdown__list">
              <li class="nav-dropdown__item"><%= link_to 'Games', games_path %></li>
              <li class="nav-dropdown__item"><%= link_to redeem_path do %>Redeem Credits <span class="nav-dropdown__credits"><%= current_user.credits %></span><% end %></li>
              <li class="nav-dropdown__item"><%= link_to refer_path do %>Invite Friends <span class="nav-dropdown__credits">+25</span> <% end %></li>
              <li class="nav-dropdown__item"><%= link_to surveys_path do %>Take Survey <span class="nav-dropdown__credits">+100</span><% end %></li>
              <li class="nav-dropdown__item"><a href="mailto:support@getluckee.com" target="_top">Contact Us</a></li>
              <li class="nav-dropdown__item nav-dropdown__signout"><%= link_to "Sign out", signout_path, method: "delete" %></li>
            </ul>
          </div>

        </div> <!--/.nav-right -->
      <% end %>
    </section>
    <div class="app-wrapper">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <%= yield %>

    </div>

    <script type="text/javascript">
      window.doorbellOptions = {
          appKey: 'DXiwSFA07av7bWEUB3bHshorFfU1fsHNJ4RDPy0ra9jnG268xCOuFkjwDsNH5k47'
      };
      (function(d, t) {
          var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/1117?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
      }(document, 'script'));
    </script>

  <% if Rails.env.production? %>
    <!-- GA Tracking Events -->
    <%# render 'layouts/tracking_events' %>

    <script type="text/javascript">
        rg4js('apiKey', 'K9ewfiwAigDX1AXxc+lC0Q==');
        rg4js('attach', true);
        rg4js('enablePulse', true);
    </script>
  <% end %>
</div><!--/.desktop-wrapper -->

  <%# render 'layouts/footer' %>
  </body>
</html>
